body{
    padding: 0;
    font-family:serif;
    margin-top: 100px;
    display:flex;
    justify-content:center;
    align-content:center;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-_pCpfyGqe_47XKxt5kxkSe_VAiWyifCb4w&usqp=CAU");
    background-repeat:no-repeat;
    background-size: cover;
}
.login form{
  
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);
    background: #fff;
    padding: 20px;
   margin:150px auto 0 auto;
   
    text-align: center;
}
.login form h1{
    color: #1c8adb;
    margin-bottom: 30px;
}
.input-box{
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border: 1px solid #999;
    outline: none;
}
button{
    color: #fff;
   width:60%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px 0;
    border: none;
    outline: none;
    cursor: pointer;
}
.login-btn,.google-btn{
    background-color:#29d2db;
}
.login-btn:hover,.google-btn:hover{
    background-color:#ccf2f4;
}

a{
    text-decoration: none;
}
hr{
    margin-top: 20px;
    width: 80%;
}
.or{
    background: #fff;
    width: 30px;
    margin: -19px auto 10px;
}
.login img{
    width: 70px;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family:serif;
 }
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: #fff;
   
}

header .navbar{
    padding: 15px 3%;
    opacity: 1;
    background-color:	white;
     
}

header .navbar{
    padding: 2px 3%;
    opacity: 1;
    background-color:	white;
     
}
header li:hover{
    background-color: whitesmoke;
    border-radius: 5px;
    color:  rgb(246 223 235);
}
.navbar button{
    width:auto;
}
  @media screen  and (max-width:540px){
    .login form{
        width:80%;
      }
    }